body {
    background-image: url("/images/parkslogo1.png");
    background-color: rgb(99, 160, 95);
}

.nav-bar {
    display: flex;
    align-items: center;
}

.nav-bar > h1 {
    margin-left: 180px;
}

.main-container {
    opacity: .95;
    box-shadow: 1px 1px 50px black;
    width: 46%;
    margin: 0 auto;
    background-color:azure;
}

.parks-logo {
    width: 20%;
}

.card-containers {
    border: red solid 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    height: 100vh;
}

.containers {
    border: black solid 1px;
    width: 150px;
    height: 150px;
}

.second-container1 {
    border: orange solid 2px;
}